.bi, .fa, .material-icons {
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.bi {
    font-family: 'Bootstrap Icons';
}

.fa {
    font-family: 'FontAwesome';
}

.material-icons {
    font-family: 'Material Icons';
}

/* Widgetarea */
.wallstreet.fixed-widget {
    font-size: 1em
}

    .wallstreet.fixed-widget button {
        font-size: 1em
    }

    .wallstreet.fixed-widget > div a {
        font-size: 1em
    }
